version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ""
    ports:
      - "5000:5000"
    volumes:
      - ./uploads:/app/uploads
      - ./certs:/app/certs
      - ./users.json:/app/users.json
      - ./plag_system/corpus:/app/plag_system/corpus
